diffusers==0.23.1
transformers
gradio==4.7.1
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.0
fastapi==0.104.0
uvicorn==0.23.2
Pillow==10.1.0
accelerate==0.24.0
compel==2.0.2
controlnet-aux==0.0.7
peft==0.6.0
xformers
hf_transfer
google-cloud-translate==2.0.1
openai==1.3.7
python-dotenv==1.0.0
pyzmq==25.1.2
git+https://github.com/lilohuang/PyTurboJPEG.git
stable_fast @ https://github.com/chengzeyi/stable-fast/releases/download/v0.0.13.post3/stable_fast-0.0.13.post3+torch210cu121-cp310-cp310-manylinux2014_x86_64.whl
msgpack==1.0.7
ffmpeg-python==0.2.0